<div class="main-loader" *ngIf="mainLoaderIs">
    <img src="assets/img/loader.gif" alt="Loading..." />
</div>
<div class="pageContent">
    <div class="imgHeader">
        <img src="../../assets/img/Frame 7.svg" alt="">
    </div>
    <h3 class="mainHeader">Prize Distribution Ceremony<br/>
        For GCC 2020</h3>
    <div class="mainContent">

        <!-- WRONG SESSION PAGE -->
        <div class="bgContent">
        <div class="multiStatusPage">

            <div class="wrongInfoPage">

                <p class="mb-3 font-weight-bolder preJoinMsg">The Link to join the session is currently <span class="inactive">INACTIVE</span>. It will be <strong class="activated">ACTIVATED</strong> on
            <p class="preJoinMsg mb-3"><strong>Tue, 26<sup>th</sup> January, 2021 at 11.15 am</strong></p>
           
            <button class="btn btn-primary btn-block mt-3 preJoinedButton" (click)="openZoomLink()">Join the session
            </button>
                </div>
               
        </div>
        </div>
    </div>
</div>
