<div class="registrationClosePage">
    <div class="registrationClosePageContent">
        <div class="registrationPageheder">
            <div class="row text-center">
                <div class="col-12 p-1 headerTitle">
                    <span>GCC 2021 - Registrations Forms</span>
                </div>
                <div class="col-12 p-1 headerSubTitle">
                    <span>Registrations Closed</span>
                </div>
                <div class="col-12 p-3 headerLogo">
                    <i class="fas fa-comment-dots chatLogo"></i>
                </div>
            </div>
        </div>
        <div class="registraionPageBoxContain">
                <div class="boxContainInfo">
                   Rgistration For GCC 2021 are now closed.
                </div>
                <div class="boxContainInfo2">
                   All the best to all Register participants.
                </div>
                <!-- <div class="boxContainInfo">
                    <span>
                        Smt Indira Rajesh : 98200 17282
                        Smt Rajashree Gopal : 98208 09200
                       </span>
                 </div> -->

        </div>
        <div class="registrationPageBottom">
            <div class="bottomContainBold">
              For any Clarification or queries please contact :
              <div>
                <span>
                    Smt Indira Rajesh : 98200 17282 /
                    Smt Rajashree Gopal : 98208 09200
                   </span>
              </div>
            </div>
            
            <div class="bottomContain">
               
            </div>
        </div>

    </div>
</div>